//PC用表示フラグ
.sp_only{
    display: none;
}
.pc_only{
    display: block;
}

body{
    max-width: 1920px;

    font-family: "Arial";
    text-align: center;

    .container{
        max-width: 1300px;
        margin: 0 auto;

        padding: 50px 0;
    }

    h1{
        font-size: 152px;
    }
    h2{
        font-size: 57px;
    }
    h3{
        font-size: 36px;
    }
    p{
        font-size: 15px;
    }

}

header{
    position: fixed;
    top: 0px;

    // 背景のみ透過
    background-color: rgba(0, 0, 0, 0.5);

    color: white;
    
    height: 90px;
    width: 100%;

    font-weight: bold;

    .header_container{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    
        line-height: 90px;

        #naviBar{
            text-align: right;
            display: flex;
            align-items: center;
            
            a{
                margin-right: 20px;
                font-size: 30px;
            }
        }
    }
    
    // メニューホバー下線アニメーション
    .headMenu {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    &::after {
        position: absolute;
        bottom: 23px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }
    &:hover::after {
        transform: scale(1, 1);
    }
}

.sec01{
    background-image: url(../images/main.png);
    background-position: center;
    background-size: cover;
    max-height: 1080px;
    min-height: 800px;

    color: white;

    .container{
        padding: 200px 0;
        font-weight: bold;

        h1{
            margin-bottom: 50px;
        }
        h3{
            letter-spacing: 6px;
            margin-bottom: 50px;
        }

        a{
            display: inline-block;

            font-size: 36px;
            letter-spacing: 10px;

            width: 490px;
            height: 90px;
            line-height: 90px;
            
            position: relative;
            z-index: 0;
            
            // ホバーアニメーションのために擬似要素を使う
            &::before{
                content: "";
                width:100%;
                height:100%;
                border-radius: 50px;
                position: absolute;
                left: 0;
                transition: all .3s;
                z-index: -1;
                background: linear-gradient(to left, #0093E2,#00FFFF);
            }
            
            &::after{
                content: "";
                width:100%;
                height:100%;
                border-radius: 50px;
                position: absolute;
                left: 0;
                z-index: -2;
                background: linear-gradient(to right, #018D8D,#035784);
            }

            &:hover::before{
                opacity: 0;
            }
        }
    }
}

.title{
    font-weight: bold;
    margin-bottom: 50px;
    
    text-decoration: underline;
}

.sec02{
    .container{

        .samuneList{
            
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                li{
                    width: 32%;
                    background-color: #F1F9FF;
                    border-radius: 10px;
                    box-shadow: 3px 3px 3px lightgray;

                    margin-bottom: 20px;
                    
                    img{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 100%;
                    }
                    p{
                        padding: 20px;

                    }
                }
            }
        }
    }
}

.bgGray{
    background-color: #4A4A4A;
    color: white;
}

.sec03{
    .container{
        .aboutWrapper{
            display: flex;
            justify-content: center;

            img{
                width: 45%;
                height: 45%;
            }
            .textWrapper{
                width: 45%;
                margin-left: 20px;
                
                text-align: left;
                font-weight: bold;

                h3{
                    font-size: 50px;
                }
                p{
                    font-size: 30px;
                }
            }

        }
    }
}

.sec04{
    
    .container{
        width: 600px;
    }
    
    ul{
        display: flex;
        justify-content: space-around;
    }
    
    // ボタンのホバーアニメーション設定
    .btn01{
        color: #fff;
        text-decoration: none;
        text-align: center;
        position: relative;
        // z-index: 10;
        display: block;
        width: 150px;
        height: 150px;
        line-height: 150px;
        
        &::before {
            //ボタンアイコン共通項目
            content: "";
            font-weight: 400;
            font-size: 50px;
            
            background-color: #4A4A4A;
            display: block;
            position: absolute;
            width: 150px;
            height: 150px;
            z-index: -1;
            border-radius: 50%;
            box-shadow:
            0 0 0 0 #fff,
            0 0 0 0 #7e7a79;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
        }
        &:hover::before {
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            box-shadow:
            0 0 0 25px #fff,
            0 0 0 27px #4A4A4A;
        }
        
    }
    
    // ボタンアイコン
    .btnTw::before{
        font-family: "Font Awesome 5 Brands"; 
        content: "\f099";
    }
    .btnYt::before{
        font-family: "Font Awesome 5 Brands"; 
        content: "\f167";
    }
    .btnMl::before{
        font-family: "Font Awesome 5 Free";
        content: "\f0e0";
    }
    
}